
 /* Extra large devices (Extra Small DEvice 360px and up) */
 @media only screen and (max-width: 360px) {
   
    .about-section{
       display: block;
    }
    .about-section .about-image{
       width:100%;
       padding: 10px;
     }
     .about-section .about-content{
       width: 100%;
       padding: 10px;
     }
     .responsive-section .test{
       background-color: rgb(129, 14, 14);
       height: 300px;
       margin: 10px;
       border: 3px solid ;
     }
 
 }
  /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    
    .about-section{
       display: block;
    }
    .about-section .about-image{
       width:100%;
       padding: 10px;
     }
     .about-section .about-content{
       width: 100%;
       padding: 10px;
     }
     .responsive-section .test{
       background-color: rgb(14, 129, 33);
       height: 300px;
       margin: 10px;
       border: 3px solid ;
     }
 
 }
 
 
 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) and (max-width: 960px){
    .about-section{
       display: flex;
    }
    .about-section .about-image{
       width: 400px;
       padding: 20px;
     }
     .about-section .about-content{
       width: 400px;
       padding: 20px;
     }
     .responsive-section .test{
       background-color: rgb(87, 147, 158);
       height: 400px;
       margin: 20px;
       border: 3px solid ;
     }
 
 }
 
 
 
 
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 960px) {
    .about-section{
       padding: 20px;
       display: flex;
    }
    .about-section .about-image{
       width:600px;
       padding: 20px;
     }
    .about-section .about-image img{
       width: 100%;
       height: auto;
       border: 5px dotted red;
       
     }
    
     .about-section .about-content{
       width: 600px;
       padding: 20px;
     }
     .responsive-section .test{
       background-color: rgb(179, 53, 90);
       height: 500px;
       margin: 30px;
       border: 3px solid ;
     }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 1200px) {
    .about-section{
       padding: 50px;
       display: flex;
    }
    .about-section .about-image{
       width:700px;
       padding: 20px;
     }
    .about-section .about-image img{
       width: 100%;
       height: auto;
       border: 5px dotted red;
       
     }
    
     .about-section .about-content{
       width: 700px;
       padding: 20px;
     }
     .responsive-section .test{
       background-color: rgb(218, 167, 57);
       height: 600px;
       margin: 40px;
       border: 3px solid ;
     }
     .header-section .button{
        padding: 30px 10px;
        display: block;
     }
     .header-section .button button
     {
        padding: 10px 20px;
        background-color: blue;
     }
    }
 