.another-para{
    color: red;
    background-color: blue;
}
.first-para {
    color: seagreen;
    background-color:seagreen ;
    margin: 60px 70px 80px 0px;
    border: 2px solid red;
    padding: 80px 50px;

    
    font-size: 30px;
    
}